@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Borel&family=Cinzel&family=Handjet:wght@300&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Roboto, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.digital-clock{
    position: relative;
    color: aliceblue;
    display: flex;
    background-color: rgb(44, 73, 93);
    width: 500px;
    padding: 30px 50px;
    box-shadow: 0px 5px 25px rgba(67, 199, 208, 0.8);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours, .dots, .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    padding: 0 10px;
    line-height: 120px;

}

.hours, .minutes{
    font-size: 6em;
    width: 120px;
}

.dots{
    font-size: 5em;
    color: antiquewhite;
}

.hours{
    background: -webkit-linear-gradient(90deg, #8900f9, #5fefff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes{
    background: -webkit-linear-gradient(90deg, #f900bf, #d0ff00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}

.period, .seconds{
    font-size: 1.2em;
    font-weight: 500;
}

.period{
    transform: translateY(-20px);
    background: -webkit-linear-gradient(90deg, #f7b6bf, #faf879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds{
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calender{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #ae4af6, #f7b6bf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.date, .day, .year{
    margin-left: 7px;
}